@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
    
*,* :before, * :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
    margin: 0;
}

input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}
    
body{
    color: #2e2d2d;
    margin: 0 auto;
    width: 100%;
    background-color:rgb(207, 205, 204);
}

h1, h2, h3{
    font-family: 'Playfair Display';
    font-style: italic;
    font-size: 3em;
}

p{
    font-family: 'Playfair Display';
    font-size: 2.4em;
}

section,img{
    max-width: 100%;
}

.wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    height: 5em;
    background: linear-gradient(90deg,#1d1d1d, #646464cb);
    padding-bottom: 1em;
    img{
        margin-top: 1.5em;
        height: 100%;
        width: 12em;
        box-shadow: none;
    }
        .burger-btn{
            a{
                margin-top: 0em;
                padding: 0em;
                margin-right: 2em;
                img{
                    width: 3em;
                    height: 3em;
                }
            }
        }
}

.wrapper-menu-burger{
    margin-top: 0;
    max-width: 100%;
    height: 7.5em;
    overflow: hidden;
    display: none;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        li{
            width: 100%;
            height: 2.5em;
            text-align: center;
            padding-top: 0.6em;
            a{
                color: #969494;
                text-shadow: 1px 1px 1px #0e0e0e;
                font-size: 1.2em;
                letter-spacing: 0.3em;
                transition-property: transform;
                transition-duration: 0.5s;
                transition-delay: 0s;
                transition-timing-function:ease;
            }
            a:hover{
                display: inline-block;
                color: #eeebeb;
                transform: translateY(-1px) ;
                }
        }
        li:hover{
            background:linear-gradient(90deg, #272726cb, #e2dfdd);
            }
    }
}
.menu-desctop{
    display: none;
}

@media (min-width:1023px) {
    .wrapper-header{
        height: 7em;
        img{
            margin-top: 1.5em;
            height: 100%;
            width: 15em;
        }
    }
    .burger-btn{
        display: none !important;
    }
    .wrapper-menu-burger{
        display: none !important;
    }
    .menu-desctop{
        margin-right: 10em;
        display: block;
        ul{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            letter-spacing: 0.3em;
            font-size: 1.3em;
            li{
                padding-top: 1em;
                margin-right: 2em;
                a{
                    color: #969494;
                    text-shadow: 1px 1px 1px #0e0e0e;
                    font-size: 1em;
                    letter-spacing: 0.3em;
                    transition-property: transform;
                    transition-duration: 0.6s;
                    transition-delay: 0s;
                    transition-timing-function:ease;
                }
                a:hover{
                    display: inline-block;
                    color: #eeebeb;
                    transform: translateY(-5px) ;
                }
            }
        }
    }
}

.wrapper-about{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    .about1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        .about-text{
            padding: 1em 2em;
            text-align: center;
            h1{
                font-size:5em
            }
            h3{
                font-size: 3em;
            }
            p{
                margin-top: 2em;
            }
        }
        .about-imag1{
            overflow: hidden;
            max-width: 50em;
            max-height: 60em;
            margin-top: 2em;
            img{
                max-width: 100%;
            }
        }
    }
    .about2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .about-imag2{
            img{
                max-width: 100%;
            }
        } 
        .about-text2{
            margin-top: 4em;
            overflow: hidden;
            text-align: center;
            margin-bottom: 4em;
            h2{
                font-size: 3em;
                margin-bottom: 1em;
            }
            p{
                font-size: 2.5em;
            }
            .more{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 2em;
                span{
                display: inline-block;
                font-size: 1.8em;
                }
                .btn-more{
                    background: url("/sources/right_long_arrow_icon_214373.png") no-repeat 100%;
                    width: 3em;
                    height: 1.5em;
                    margin-top: 1em;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    } 
}

// --------------------------------------------
.element-animation{
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-40px);
}
.element-animation.element-show{   
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

// ------------------------------------------------

@media (min-width:600px) {
    .wrapper-about{
        .about1{
            justify-content: space-between;
            .about-imag1{
                width: 70em;
                display: flex;
                justify-content: center;
                img{
                    max-width: 100%;
                }
            }
            .about-text{
                margin-top: 4em;
                line-height: 1.4;
                h2{
                    font-size: 3em;
                    margin-top: 1em;
                }
                p{
                    margin-top: 1em;
                    font-size: 2em;
                }
            }
        }
        .about2{
            margin: 0 auto;
            .about-imag2{
                width: 80%;
            }
        }
    }
}
@media (min-width:1020px) {
    .wrapper-about{
        .about1{
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            margin-bottom: 5em;
            .about-text{
                align-self: center;
                width: 50em;
                margin-bottom: 6em;
                margin-left: 4em;
                h1{
                    font-size: 4.5em;
                    
                }
            }
        }
    }
}

@media (min-width:1300px) {
    .wrapper-about{
        margin-top: 0;
        .about2{
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .about-imag2{
                max-width: 60em;
            } 
            .about-text2{
                align-self: center;
                margin-right: 5em;
                max-width: 50em;
                text-align: center;
                p{
                    padding: 0.5em 0;
                    height: 3em;
                    font-size: 2.5em;
                    
                }
                .more{
                    display: flex;
                    flex-direction: row;
                    margin-top: 2em;
                    span{
                    font-size: 1.5em;
                    margin-right: 1em;
                    }
                    .btn-more{
                        width: 4em;
                        height: 2em;
                        margin-top: 0.1em;
                    }
                }
            }
        } 
    }
}
// -------------------------------------------

.black{
    display: none;
    background-color: rgb(0, 0, 0); 
    
}



